* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #cee1e6;
    width: 100%;
    height: 35px;
    color: #ffffff;
}

.main-menu__ul{
    margin-top: 10px;
    display: inline-block;
    margin-left: 50px;

}

.main-menu li {
    display: inline;
    margin-right: 20px;
}

.content {
    font-size: 16px;
    font-family: TimesNewRoman;
}

.userinfo{
    position:relative;
    padding-top: 50px;
    right:0;
    width: 75%;
    left: 25%;
    height:90%;
    color: #979797;
    overflow:auto;
}

.user {
    position:fixed;
    left:0;
    top:0;
    width:25%;
    height:100%;
    background: #4c73a2;
    color:#fff;
    overflow:auto;
}

.user__img {
    width: 100px;
    height: 100px;
    margin: 100px auto 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user__img img {
    width: 100%;
    height: 100%;
}

.user__name {
    text-align: center;
}

.user__contact {
    text-align: center;
    margin-top: 30px;
}

hr {
    border: none;
    height: 3px;
    margin: 0 auto 0;
    width: 300px;
}

.user__contact__content {
    border-top: 2px solid #8ac3d5;
    text-align: center;
    width: 300px;
    margin: 20px auto 0;
    padding-top: 10px;

}

h3 {
    padding-bottom: 20px;
}

.experience,
.skills,
.target,
.education{
    width: 600px;
    padding-top: 30px;
    padding-left: 50px;
}

.line {
    border-left: 4px solid #8ac3d5;
    padding-left: 30px;
}


.training__img {
    position: relative;
    top: -18px;
    left: -22px;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 7px;
}

.footer {
    display: flex;
    background: #cee1e6;
    position: relative;
    justify-content: space-between;
    padding: 3px 50px;
    align-items: center;
}

.target__img {
    position: relative;
    top: -18px;
    left: -22px;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 7px;
}

.job__img {
    position: relative;
    top: -18px;
    left: -22px;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 7px;
}

.social_networks {
    display: flex;
}

.social_networks a{
    margin: 0 2px;
}

.vk__img{
    width: 30px;
    height: 30px;
    display: block;
}

.in__img {
    width: 30px;
    height: 30px;
    display: block;
}

.git__img {
    width: 30px;
    height: 30px;
    display: block;
}

.telegram__img {
    width: 30px;
    height: 30px;
    display: block;
}